'HOSTDB'= 
'DB_NAME'=
'USER'= 
'PASSWORD'= 
'PORT'=
'key' = 
'iv' = 
'RESEND_API_KEY'=
'MAIL_FROM'=
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_ENDPOINT=
R2_PUBLIC_URL=